In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:pass@192.168.201.103

# How many movies are in data set ?

In [3]:
%%sql

select count(*) from movies;

 * postgresql://postgres:***@192.168.201.103
1 rows affected.

[(9742,)]

# What is the most common genre of movie?

In [6]:
%%sql

-- just to see overall structure of movies table

select * from movies limit 10;

 * postgresql://postgres:***@192.168.201.103
10 rows affected.

[(1, 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy'),
 (2, 'Jumanji (1995)', 'Adventure|Children|Fantasy'),
 (3, 'Grumpier Old Men (1995)', 'Comedy|Romance'),
 (4, 'Waiting to Exhale (1995)', 'Comedy|Drama|Romance'),
 (5, 'Father of the Bride Part II (1995)', 'Comedy'),
 (6, 'Heat (1995)', 'Action|Crime|Thriller'),
 (7, 'Sabrina (1995)', 'Comedy|Romance'),
 (8, 'Tom and Huck (1995)', 'Adventure|Children'),
 (9, 'Sudden Death (1995)', 'Action'),
 (10, 'GoldenEye (1995)', 'Action|Adventure|Thriller')]

In [7]:
%%sql

-- to try out unnest() and string_to_array() functions

select movieid, title, unnest(string_to_array(genres, '|')) from movies limit 10;

 * postgresql://postgres:***@192.168.201.103
10 rows affected.

[(1, 'Toy Story (1995)', 'Adventure'),
 (1, 'Toy Story (1995)', 'Animation'),
 (1, 'Toy Story (1995)', 'Children'),
 (1, 'Toy Story (1995)', 'Comedy'),
 (1, 'Toy Story (1995)', 'Fantasy'),
 (2, 'Jumanji (1995)', 'Adventure'),
 (2, 'Jumanji (1995)', 'Children'),
 (2, 'Jumanji (1995)', 'Fantasy'),
 (3, 'Grumpier Old Men (1995)', 'Comedy'),
 (3, 'Grumpier Old Men (1995)', 'Romance')]

In [8]:
%%sql

-- most common genere

select 
    count(*) as movies_count, 
    unnest(string_to_array(genres, '|')) as genere 
from 
    movies
group by unnest(string_to_array(genres, '|'))
order by movies_count desc
limit 1;

 * postgresql://postgres:***@192.168.201.103
1 rows affected.

[(4361, 'Drama')]

# What are top 10 movies with highest rate ?

In [12]:
%%sql

-- it makes little sense to take average of rating no matter of how many votes were there
-- it is better to add filtering by votes count (here at least 100 votes are required for movie to appear in the list)
-- if  we change it to `having count(*) >= 1` then a few movies with single rate of 5 will appear which IMO brings little value

select 
    m.title,
    avg(r.rating) as avg_rate, 
    count(*) as rating_count
from
    movies m 
    join ratings r on r.movieid = m.movieid
group by
    m.movieid, 
    m.title
having 
    count(*) >= 100
order by 
    avg_rate desc,
    rating_count desc
limit 10;

 * postgresql://postgres:***@192.168.201.103
10 rows affected.

[('Shawshank Redemption, The (1994)', Decimal('4.4290220820189274'), 317),
 ('Godfather, The (1972)', Decimal('4.2890625000000000'), 192),
 ('Fight Club (1999)', Decimal('4.2729357798165138'), 218),
 ('Godfather: Part II, The (1974)', Decimal('4.2596899224806202'), 129),
 ('Departed, The (2006)', Decimal('4.2523364485981308'), 107),
 ('Goodfellas (1990)', Decimal('4.2500000000000000'), 126),
 ('Casablanca (1942)', Decimal('4.2400000000000000'), 100),
 ('Dark Knight, The (2008)', Decimal('4.2382550335570470'), 149),
 ('Usual Suspects, The (1995)', Decimal('4.2377450980392157'), 204),
 ('Princess Bride, The (1987)', Decimal('4.2323943661971831'), 142)]

# What are 5 most often rating users ?

In [14]:
%%sql

select 
    userid,
    count(*) as ratings_count
from
    ratings r
group by
    userid
order by 
    ratings_count desc
limit 5;

 * postgresql://postgres:***@192.168.201.103
5 rows affected.

[(414, 2698), (599, 2478), (474, 2108), (448, 1864), (274, 1346)]

# When was done first and last rate included in data set and what was the rated movie tittle?

In [15]:
%%sql

-- if the goal is to list all movies, and for each first and last rate timestamp, then query will look like this

select 
    m.title,
    min(rating_timestamp) as first_rate_timestamp,
    max(rating_timestamp) as last_rate_timestamp
from
    movies m
    left join ratings r on r.movieid = m.movieid
group by
    m.movieid, 
    m.title
order by 
    first_rate_timestamp
limit 10;

 * postgresql://postgres:***@192.168.201.103
10 rows affected.

[('Batman (1989)', datetime.datetime(1996, 3, 29, 18, 36, 55, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2018, 8, 31, 10, 5, 11, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 ('Copycat (1995)', datetime.datetime(1996, 3, 29, 18, 36, 55, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2018, 8, 11, 0, 26, 11, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 ('Disclosure (1994)', datetime.datetime(1996, 3, 29, 18, 36, 55, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2009, 3, 22, 9, 19, 53, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 ('Black Beauty (1994)', datetime.datetime(1996, 3, 29, 18, 36, 55, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2005, 7, 13, 13, 52, 5, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 ('Apollo 13 (1995)', datetime.datetime(1996, 3, 29, 18, 36, 55, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2018, 9, 1, 18, 42, 46, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 ('Baby-Sitters Club, The (1995)', datetime.datetime(1996, 3, 29, 18, 36, 55, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2009, 3, 22, 8, 47, 53, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 ('Boys on the Side (1995)', datetime.datetime(1996, 3, 29, 18, 36, 55, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2017, 6, 26, 21, 2, 44, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 ('Beverly Hills Cop III (1994)', datetime.datetime(1996, 3, 29, 18, 36, 55, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2017, 6, 26, 20, 55, 51, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 ('Aladdin (1992)', datetime.datetime(1996, 3, 29, 18, 36, 55, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2018, 8, 15, 8, 17, 42, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 ('Clear and Present Danger (1994)', datetime.datetime(1996, 3, 29, 18, 36, 55, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2017, 6, 26, 23, 59, 31, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]

In [16]:
%%sql

-- if the goal is to get timestamp of first/last rating among all movies then it will look like that

(select
    m.title,
    min(rating_timestamp) as rating_timestamp,
    'first rating' as which_rating
from
    movies m
    join ratings r on r.movieid = m.movieid
group by
    m.movieid, 
    m.title
order by 
    rating_timestamp
limit 1
)

union all

(
select 
    m.title,
    max(rating_timestamp) as rating_timestamp,
    'last rating' as which_rating
from
    movies m
    join ratings r on r.movieid = m.movieid
group by
    m.movieid, 
    m.title
order by 
    rating_timestamp desc
limit 1
)

;

 * postgresql://postgres:***@192.168.201.103
2 rows affected.

[('Beverly Hills Cop III (1994)', datetime.datetime(1996, 3, 29, 18, 36, 55, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'first rating'),
 ('Crumb (1994)', datetime.datetime(2018, 9, 24, 14, 27, 30, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'last rating')]

# Find all movies released in 1990

In [17]:
%%sql

select 
    title
from
    movies
where
    title like '%(1990)'
order by title
;

 * postgresql://postgres:***@192.168.201.103
147 rows affected.

[('Adventures of Ford Fairlane, The (1990)',),
 ('Air America (1990)',),
 ("Akira Kurosawa's Dreams (Dreams) (1990)",),
 ('Alice (1990)',),
 ('All the Vermeers in New York (1990)',),
 ('Almost an Angel (1990)',),
 ('Amityville Curse, The (1990)',),
 ('Angel at My Table, An (1990)',),
 ('Another 48 Hrs. (1990)',),
 ('Arachnophobia (1990)',),
 ('Avalon (1990)',),
 ('Awakenings (1990)',),
 ('Back to the Future Part III (1990)',),
 ('Begotten (1990)',),
 ("Betsy's Wedding (1990)",),
 ('Bird on a Wire (1990)',),
 ('Blue Steel (1990)',),
 ('Bonfire of the Vanities (1990)',),
 ('Book of Love (1990)',),
 ('Bride of Re-Animator (1990)',),
 ('Bullet in the Head (1990)',),
 ('Cadillac Man (1990)',),
 ('Captain America (1990)',),
 ("Child's Play 2 (1990)",),
 ('Civil War, The (1990)',),
 ('Come See the Paradise (1990)',),
 ('Cry-Baby (1990)',),
 ('Cyrano de Bergerac (1990)',),
 ('Dances with Wolves (1990)',),
 ('Darkman (1990)',),
 ('Days of Being Wild (A Fei jingjyuhn) (1990)',),
 ('Days of Thunder (1990)',),
 ('Delta Force 2 (Delta Force 2: The Colombian Connection) (1990)',),
 ('Dick Tracy (1990)',),
 ('Die Hard 2 (1990)',),
 ('Dragon Ball Z: Bardock - The Father of Goku (Doragon bôru Z: Tatta hitori no saishuu kessen - Furiiza ni itonda Z senshi Kakarotto no chichi) (1990)',),
 ('Dragon Ball Z the Movie: The Tree of Might (Doragon bôru Z 3: Chikyû marugoto chô kessen) (1990)',),
 ("Dragon Ball Z the Movie: The World's Strongest (a.k.a. Dragon Ball Z: The Strongest Guy in The World) (Doragon bôru Z: Kono yo de ichiban tsuyoi yatsu) (1990)",),
 ('Edward Scissorhands (1990)',),
 ('Ernest Goes to Jail (1990)',),
 ('Europa Europa (Hitlerjunge Salomon) (1990)',),
 ('Exorcist III, The (1990)',),
 ('Femme Nikita, La (Nikita) (1990)',),
 ('Flashback (1990)',),
 ('Flatliners (1990)',),
 ('Frankenstein Unbound (1990)',),
 ('Freshman, The (1990)',),
 ('Ghost (1990)',),
 ('Ghost Dad (1990)',),
 ('Godfather: Part III, The (1990)',),
 ('Goodfellas (1990)',),
 ('Green Card (1990)',),
 ('Gremlins 2: The New Batch (1990)',),
 ('Grifters, The (1990)',),
 ('Guardian, The (1990)',),
 ("Hairdresser's Husband, The (Le mari de la coiffeuse) (1990)",),
 ('Hamlet (1990)',),
 ("Handmaid's Tale, The (1990)",),
 ('Hardware (1990)',),
 ('Heart Condition (1990)',),
 ('Heaven and Earth (Ten to Chi to) (1990)',),
 ('Henry & June (1990)',),
 ('Home Alone (1990)',),
 ('Hot Spot, The (1990)',),
 ('House Party (1990)',),
 ('Hunt for Red October, The (1990)',),
 ('I Bought a Vampire Motorcycle (1990)',),
 ('I Love You to Death (1990)',),
 ('It (1990)',),
 ("Jacob's Ladder (1990)",),
 ('Jetsons: The Movie (1990)',),
 ('Joe Versus the Volcano (1990)',),
 ('Ju Dou (1990)',),
 ('Kindergarten Cop (1990)',),
 ('King of New York (1990)',),
 ('Krays, The (1990)',),
 ('Lionheart (1990)',),
 ('Long Walk Home, The (1990)',),
 ("Look Who's Talking Too (1990)",),
 ('Loose Cannons (1990)',),
 ('Lord of the Flies (1990)',),
 ('Madhouse (1990)',),
 ('Maniac Cop 2 (1990)',),
 ('Marked for Death (1990)',),
 ('Match Factory Girl, The (Tulitikkutehtaan tyttö) (1990)',),
 ('Memphis Belle (1990)',),
 ('Men at Work (1990)',),
 ('Mermaids (1990)',),
 ('Metropolitan (1990)',),
 ('Miami Blues (1990)',),
 ("Mickey's The Prince and the Pauper (1990)",),
 ("Miller's Crossing (1990)",),
 ('Misery (1990)',),
 ("Mo' Better Blues (1990)",),
 ('Mountains of the Moon (1990)',),
 ('Mr. Destiny (1990)',),
 ('My Blue Heaven (1990)',),
 ("My Father's Glory (La gloire de mon père) (1990)",),
 ("My Mother's Castle (Château de ma mère, Le) (1990)",),
 ('Navy Seals (1990)',),
 ('NeverEnding Story II: The Next Chapter, The (1990)',),
 ('Nightbreed (1990)',),
 ('Night of the Living Dead (1990)',),
 ('Nuns on the Run (1990)',),
 ('Pacific Heights (1990)',),
 ('Paris Is Burning (1990)',),
 ('Predator 2 (1990)',),
 ('Presumed Innocent (1990)',),
 ('Pretty Woman (1990)',),
 ('Problem Child (1990)',),
 ('Pump Up the Volume (1990)',),
 ('Quick Change (1990)',),
 ('Quigley Down Under (1990)',),
 ('Repossessed (1990)',),
 ('Rescuers Down Under, The (1990)',),
 ('Revenge (1990)',),
 ('Reversal of Fortune (1990)',),
 ('RoboCop 2 (1990)',),
 ('Robot Jox (1990)',),
 ('Rocky V (1990)',),
 ('Rookie, The (1990)',),
 ('Rosencrantz and Guildenstern Are Dead (1990)',),
 ('Russia House, The (1990)',),
 ('Sheltering Sky, The (1990)',),
 ('Sibling Rivalry (1990)',),
 ('Slumber Party Massacre III (1990)',),
 ('Sorority House Massacre II (1990)',),
 ('Spaced Invaders (1990)',),
 ('Stanley & Iris (1990)',),
 ('State of Grace (1990)',),
 ('Taking Care of Business (1990)',),
 ('Tales from the Darkside: The Movie (1990)',),
 ('Teenage Mutant Ninja Turtles (1990)',),
 ('The Forbidden Dance (1990)',),
 ('Three Men and a Little Lady (1990)',),
 ('Tie Me Up! Tie Me Down! (¡Átame!) (1990)',),
 ('Total Recall (1990)',),
 ('Tremors (1990)',),
 ('Troll 2 (1990)',),
 ('Trust (1990)',),
 ('Twister (1990)',),
 ('Two Jakes, The (1990)',),
 ('White Hunter, Black Heart (1990)',),
 ('Wild at Heart (1990)',),
 ('Wild Orchid (1990)',),
 ('Witches, The (1990)',),
 ('Young Guns II (1990)',)]