In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:pass@192.168.201.103

# How many movies are in data set ?

In [3]:
%%sql

select count(*) from movies;

 * postgresql://postgres:***@192.168.201.103
1 rows affected.

[(9742,)]

# What is the most common genre of movie?

In [4]:
%%sql

select * from movies limit 10;

 * postgresql://postgres:***@192.168.201.103
10 rows affected.

[(1, 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy'),
 (2, 'Jumanji (1995)', 'Adventure|Children|Fantasy'),
 (3, 'Grumpier Old Men (1995)', 'Comedy|Romance'),
 (4, 'Waiting to Exhale (1995)', 'Comedy|Drama|Romance'),
 (5, 'Father of the Bride Part II (1995)', 'Comedy'),
 (6, 'Heat (1995)', 'Action|Crime|Thriller'),
 (7, 'Sabrina (1995)', 'Comedy|Romance'),
 (8, 'Tom and Huck (1995)', 'Adventure|Children'),
 (9, 'Sudden Death (1995)', 'Action'),
 (10, 'GoldenEye (1995)', 'Action|Adventure|Thriller')]

# What are top 10 movies with highest rate ?

# What are 5 most often rating users ?

# When was done first and last rate included in data set and what was the rated movie tittle?

# Find all movies released in 1990